# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files & others
*.dwo
*.dbgconf
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/F405_CUP_MAT_V2/
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/RTE/
.vscode
.codemap/main-panel.json
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/JLinkLog.txt
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/JLinkSettings.ini
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/EventRecorderStub.scvd

# user
*.Lime
*.21154
