# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files & others
*.dwo
*.dbgconf
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/F405_CUP_MAT_V2/
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/RTE/
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/.codemap/main-panel.json
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/JLinkLog.txt
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/JLinkSettings.ini
SOFTWARE/F405_CUP_MAT_V2/MDK-ARM/EventRecorderStub.scvd

SOFTWARE/F405_BOOTLOADER/MDK-ARM/F405_CUP_MAT_V2/
SOFTWARE/F405_BOOTLOADER/MDK-ARM/RTE/
SOFTWARE/F405_BOOTLOADER/MDK-ARM/.codemap/main-panel.json
SOFTWARE/F405_BOOTLOADER/MDK-ARM/JLinkLog.txt
SOFTWARE/F405_BOOTLOADER/MDK-ARM/JLinkSettings.ini
SOFTWARE/F405_BOOTLOADER/MDK-ARM/EventRecorderStub.scvd
.vscode
.codemap/main-panel.json
SOFTWARE/LVGL_SIMULATION/.codemap
SOFTWARE/LVGL_SIMULATION/bin
SOFTWARE/LVGL_SIMULATION/build
SOFTWARE/LVGL_SIMULATION/config
SOFTWARE/LVGL_SIMULATION/FreeRTOS
SOFTWARE/LVGL_SIMULATION/lvgl
SOFTWARE/LVGL_SIMULATION/main
SOFTWARE/LVGL_SIMULATION/.gitignore
SOFTWARE/LVGL_SIMULATION/.gitmodules
SOFTWARE/LVGL_SIMULATION/CMakeLists.txt
SOFTWARE/LVGL_SIMULATION/licence.txt
SOFTWARE/LVGL_SIMULATION/lv_conf.h
SOFTWARE/LVGL_SIMULATION/manifest.json
SOFTWARE/LVGL_SIMULATION/README.md
SOFTWARE/LVGL_SIMULATION/simulator.*
SOFTWARE/SIGNATURE_Tool/signature_prj/build
DOC/UI_Design/ImgTool_DitherFmt
Z-PRIVATE


# user
*.Lime
*.21154
